<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trump Tweets Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/journal/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Trump Twitter Sentiment Analysis</h1>
            </div>
        </div>
    </div>

    {% for tweet in trumpTweetsViewModel.tweets %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-1">
                                <img class="media-object" src="{{ trumpTweetsViewModel.profileImage }}">
                            </div>
                            <div class="col-md-11">
                                <h3 class="panel-title">{{ trumpTweetsViewModel.screenName }}:</h3>
                                <p class="tweet-date">{{ moment(tweet['dateCreated']).format('MMMM Do YYYY, h:mm:ss a') }}</p>
                            </div>
                        </div>


                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <span class="tweet-text" id="tweet-{{ tweet['id'] }}">{{ tweet['text'] }}</span>
                            </div>
                            <div class="col-md-1 col-md-offset-1">
                                <button onclick="analyzeSentiment('{{ tweet['id'] }}')" type="button"
                                        class="btn btn-primary pull-right">Analyze Sentiment
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <canvas class="" id="chart-{{ tweet.id }}" width="1" height="1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>